<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} %logger{36} - %msg%n" />
    </Console>


  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>

<!--    <logger name="dev.morphia" level="TRACE"/>-->
<!--    <logger name="org.mongodb.driver" level="DEBUG"/>-->
    <Logger name="eu.europeana.fulltext.migrations" level="DEBUG"/>

    <!--Suppress unhelpful Spring Batch warnings:
See     https://stackoverflow.com/questions/23780587/spring-batch-reader-in-multi-threader-job -->
<!--    <Logger name="org.springframework.batch.core.step" level="ERROR"/>-->
  </Loggers>
</Configuration>