<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} %logger{36} - %msg%n" />
        </Console>

        <File name="fileLogger" fileName="logs/${sys:logFileName}.log">
            <PatternLayout>
                <pattern>%d %p %C{1.} - %m %throwable{short.message}%n</pattern>
            </PatternLayout>
        </File>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="logFile" level="INFO">
            <AppenderRef ref="fileLogger"/>
        </Logger>
        <Logger name="eu.europeana.fulltext.loader" level="DEBUG"/>
        <logger name="org.springframework.data.mongodb" level="TRACE"/>
        <Logger name="dev.morphia" level="TRACE" />
    </Loggers>
</Configuration>